.env
app/src/main/java/com/example/songplayer/musicservice.jaba

.idea/
*.iml
.gradle/
local.properties
.DS_Store
/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.db
*.jks
*.keystore
*.log

Thumbs.db
ehthumbs.db

.env.*
*.key
*.pem

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/codeStyles/